In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from newspaper import Article

In [2]:
url = "https://timesofindia.indiatimes.com/"
site = requests.get(url)

In [3]:
soup = BeautifulSoup(site.content, 'html5lib') 
link_table = soup.findAll('a', attrs = {'class':'w_img'})

In [4]:
toi_news=[]
for row in link_table: 
    if not row['href'].startswith('http'):
        toi_news.append('https://timesofindia.indiatimes.com'+row['href'])

In [5]:
news_df=[]
for i in toi_news:
    art = Article(i, language="en")
    art.download() 
    art.parse() 
    art.nlp() 
    news={}
    news['Title']=art.title
    news['Detail']=art.text
    news['Absrtact']=art.summary
    news['Highlights']=art.keywords
    news_df.append(news)

In [6]:
df=pd.DataFrame(news_df)
df.head()

,Title,Detail,Absrtact,Highlights
0,Himachal CM seeks financial support for unorga...,Himachal Pradesh Chief Minister Jai Ram Thakur...,Himachal Pradesh Chief Minister Jai Ram Thakur...,"[financial, cm, seeks, construction, state, hi..."
1,Arthritis drug didn't help severely ill COVID-...,"Doctors around the world, trying to save serio...","Doctors around the world, trying to save serio...","[shows, early, data, trial, hospitalized, ill,..."
2,Older and stuck at home? Expert advice on fitness,When we asked readers what they want to know a...,"In younger people, such physiological weakenin...","[strength, older, fitness, room, health, using..."
3,"Virus likely to keep coming back each year, wa...",China’s top scientists said the novel coronavi...,China’s top scientists said the novel coronavi...,"[summer, likely, countries, scientists, warn, ..."
4,COVID crisis: How should you stock your medici...,"Right now, there is no cure for the coronaviru...",“The humidity could impact the ingredients ove...,"[doctor, medicine, crisis, dr, covid, pulse, s..."

In [7]:
nd=pd.read_csv("D:\\OnlineNewsPopularity.csv")
nd.head()

,url,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,http://mashable.com/2013/01/07/amazon-instant-...,731.0,12.0,219.0,0.663594,1.0,0.815385,4.0,2.0,1.0,...,0.100000,0.7,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,593
1,http://mashable.com/2013/01/07/ap-samsung-spon...,731.0,9.0,255.0,0.604743,1.0,0.791946,3.0,1.0,1.0,...,0.033333,0.7,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,711
2,http://mashable.com/2013/01/07/apple-40-billio...,731.0,9.0,211.0,0.575130,1.0,0.663866,3.0,1.0,1.0,...,0.100000,1.0,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1500
3,http://mashable.com/2013/01/07/astronaut-notre...,731.0,9.0,531.0,0.503788,1.0,0.665635,9.0,0.0,1.0,...,0.136364,0.8,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000,1200
4,http://mashable.com/2013/01/07/att-u-verse-apps/,731.0,13.0,1072.0,0.415646,1.0,0.540890,19.0,19.0,20.0,...,0.033333,1.0,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,505

In [8]:
nd.shape

(39644, 61)

In [9]:
t={x: x.lower().strip() for x in list(nd)}
nd=nd.rename(index=str, columns=t)
nd.head()

,url,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,http://mashable.com/2013/01/07/amazon-instant-...,731.0,12.0,219.0,0.663594,1.0,0.815385,4.0,2.0,1.0,...,0.100000,0.7,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,593
1,http://mashable.com/2013/01/07/ap-samsung-spon...,731.0,9.0,255.0,0.604743,1.0,0.791946,3.0,1.0,1.0,...,0.033333,0.7,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,711
2,http://mashable.com/2013/01/07/apple-40-billio...,731.0,9.0,211.0,0.575130,1.0,0.663866,3.0,1.0,1.0,...,0.100000,1.0,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1500
3,http://mashable.com/2013/01/07/astronaut-notre...,731.0,9.0,531.0,0.503788,1.0,0.665635,9.0,0.0,1.0,...,0.136364,0.8,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000,1200
4,http://mashable.com/2013/01/07/att-u-verse-apps/,731.0,13.0,1072.0,0.415646,1.0,0.540890,19.0,19.0,20.0,...,0.033333,1.0,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,505

In [10]:
nd.columns

Index(['url', 'timedelta', 'n_tokens_title', 'n_tokens_content',
       'n_unique_tokens', 'n_non_stop_words', 'n_non_stop_unique_tokens',
       'num_hrefs', 'num_self_hrefs', 'num_imgs', 'num_videos',
       'average_token_length', 'num_keywords', 'data_channel_is_lifestyle',
       'data_channel_is_entertainment', 'data_channel_is_bus',
       'data_channel_is_socmed', 'data_channel_is_tech',
       'data_channel_is_world', 'kw_min_min', 'kw_max_min', 'kw_avg_min',
       'kw_min_max', 'kw_max_max', 'kw_avg_max', 'kw_min_avg', 'kw_max_avg',
       'kw_avg_avg', 'self_reference_min_shares', 'self_reference_max_shares',
       'self_reference_avg_sharess', 'weekday_is_monday', 'weekday_is_tuesday',
       'weekday_is_wednesday', 'weekday_is_thursday', 'weekday_is_friday',
       'weekday_is_saturday', 'weekday_is_sunday', 'is_weekend', 'lda_00',
       'lda_01', 'lda_02', 'lda_03', 'lda_04', 'global_subjectivity',
       'global_sentiment_polarity', 'global_rate_positive_words',
       'global_rate_negative_words', 'rate_positive_words',
       'rate_negative_words', 'avg_positive_polarity', 'min_positive_polarity',
       'max_positive_polarity', 'avg_negative_polarity',
       'min_negative_polarity', 'max_negative_polarity', 'title_subjectivity',
       'title_sentiment_polarity', 'abs_title_subjectivity',
       'abs_title_sentiment_polarity', 'shares'],
      dtype='object')

In [11]:
y=nd[['shares']].values
x=nd.drop(['url','shares', 'timedelta', 'lda_00','lda_01','lda_02','lda_03','lda_04','num_self_hrefs', 'kw_min_min', 'kw_max_min', 'kw_avg_min','kw_min_max','kw_max_max','kw_avg_max','kw_min_avg','kw_max_avg','kw_avg_avg','self_reference_min_shares','self_reference_max_shares','self_reference_avg_sharess','rate_positive_words','rate_negative_words','abs_title_subjectivity','abs_title_sentiment_polarity'],axis=1)

In [12]:
from sklearn.preprocessing import StandardScaler
x=StandardScaler().fit_transform(x)

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=5)

In [14]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=200).fit(x_train,y_train)

#GradientBoostingClassifier gave a very poor model

C:\Users\sudee\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [15]:
y_hat=model.predict(x_test)

In [16]:
tab=pd.DataFrame()
tab['Expected']=list(y_test)
tab['Estimated']=y_hat

In [17]:
tab.head()

  Expected  Estimated
0   [1200]  2222.6825
1   [4900]  2798.4150
2   [3100]  2958.1450
3   [2500]  2671.5900
4   [1600]  2522.1000

In [18]:
from nltk.tokenize import word_tokenize 
from nltk.corpus import stopwords
from textblob import TextBlob
import datefinder
import datetime  
from datetime import date

In [19]:
stopwords=set(stopwords.words('english'))

In [20]:
def rate_unique(w):
    words=tokenize(w)
    no = list(set(words))
    ru=len(no)/len(words)
    return ru

In [21]:
def rate_nonstop(w):
    words=tokenize(w)
    filtered_sentence = [i for i in words if not i in stopwords]
    rate_nonstop=len(filtered_sentence)/len(words)
    no = list(set(filtered_sentence))
    ru_no=len(no)/len(words)
    return rate_nonstop,ru_no

In [22]:
def avg_tok(w):
    words=tokenize(w)
    l=[]
    for i in words:
        l.append(len(i))
    return np.average(l)

In [23]:
def day(art_txt):
    art=art_txt
    if len(list(datefinder.find_dates(art)))>0:
        date=str(list(datefinder.find_dates(art))[0])
        date=date.split()
        date=date[0]
        year, month, day = date.split('-')     
        day_name = datetime.date(int(year), int(month), int(day)) 
        return day_name.strftime("%A")
    return "Monday"

In [24]:
def tokenize(txt):
    return word_tokenize(txt)

In [25]:
pos_words=[]
neg_words=[]
def polar(w):
    all_tokens=tokenize(w)
    for i in all_tokens:
        analysis=TextBlob(i)
        polarity=analysis.sentiment.polarity
        if polarity>0:
            pos_words.append(i)
        if polarity<0:
            neg_words.append(i)
    return pos_words,neg_words

In [26]:
def rates(w):
    words=polar(w)
    pos=words[0]
    neg=words[1]
    all_words=words
    global_rate_positive_words=(len(pos)/len(all_words))/100
    global_rate_negative_words=(len(neg)/len(all_words))/100
    pol_pos=[]
    pol_neg=[]
    for i in pos:
        analysis=TextBlob(i)
        pol_pos.append(analysis.sentiment.polarity)
        avg_positive_polarity=analysis.sentiment.polarity
    for j in neg:
        analysis2=TextBlob(str(j))
        pol_neg.append(analysis2.sentiment.polarity)
        avg_negative_polarity=analysis2.sentiment.polarity
    min_positive_polarity=min(pol_pos)
    max_positive_polarity=max(pol_pos)
    min_negative_polarity=min(pol_neg)
    max_negative_polarity=max(pol_neg)
    avg_positive_polarity=np.average(pol_pos)
    avg_negative_polarity=np.average(pol_neg)
    return global_rate_positive_words,global_rate_negative_words,avg_positive_polarity,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity

In [27]:
df_news=[]
for i in toi_news:
    pred_info={}
    article = Article(i, language="en") 
    article.download() 
    article.parse()
    analysis=TextBlob(article.text)
    polarity=analysis.sentiment.polarity
    title_analysis=TextBlob(article.title)
    pred_info['text']=article.text
    pred_info['n_Tokens_Title']=len(tokenize(article.title))
    pred_info['n_Tokens_Content']=len(tokenize(article.text))
    pred_info['n_Unique_Tokens']=rate_unique(article.text)
    pred_info['n_Non_Stop_Words']=rate_nonstop(article.text)[0]
    pred_info['n_Non_Stop_Unique_Tokens']=rate_nonstop(article.text)[1]
    pred_info['num_hrefs']=article.html.count("https://timesofindia.indiatimes.com")
    pred_info['num_imgs']=len(article.images)
    pred_info['num_videos']=len(article.movies)
    pred_info['Average_Token_Length']=avg_tok(article.text)
    pred_info['num_keywords']=len(article.keywords)
    
    if "life-style" in article.url:
        pred_info['data_channel_is_lifestyle']=1
    else:
        pred_info['data_channel_is_lifestyle']=0
    if "etimes" in article.url:
        pred_info['data_channel_is_entertainment']=1
    else:
        pred_info['data_channel_is_entertainment']=0
    if "business" in article.url:
        pred_info['data_channel_is_bus']=1
    else:
        pred_info['data_channel_is_bus']=0
    if "social media" or "facebook" or "whatsapp" in article.text.lower():
        data_channel_is_socmed=1
        data_channel_is_tech=0
        data_channel_is_world=0
    else:
        data_channel_is_socmed=0
    if ("technology" or "tech" in article.text.lower()) or ("technology" or "tech" in article.url):
        data_channel_is_tech=1
        data_channel_is_socmed=0
        data_channel_is_world=0
    else:
        data_channel_is_tech=0
    if "world" in article.url:
        data_channel_is_world=1
        data_channel_is_tech=0
        data_channel_is_socmed=0
    else:
        data_channel_is_world=0
        
    pred_info['Social_Media']=data_channel_is_socmed
    pred_info['Technology ']=data_channel_is_tech
    pred_info['World']=data_channel_is_world
    
    if day(i)=="Monday":
        pred_info['Monday']=1
    else:
        pred_info['Monday']=0
    if day(i)=="Tuesday":
        pred_info['Tuesday']=1
    else:
        pred_info['Tuesday']=0
    if day(i)=="Wednesday":
        pred_info['Wednesday']=1
    else:
        pred_info['Wednesday']=0
    if day(i)=="Thursday":
        pred_info['Thursday']=1
    else:
        pred_info['Thursday']=0
    if day(i)=="Friday":
        pred_info['Friday']=1
    else:
        pred_info['Friday']=0
    if day(i)=="Saturday":
        pred_info['Saturday']=1
        pred_info['Weekend']=1
    else:
        pred_info['Saturday']=0
    if day(i)=="Sunday":
        pred_info['Sunday']=1
        pred_info['Weekend']=1
    else:
        pred_info['Sunday']=0
        pred_info['Weekend']=0
        
    pred_info['global_subjectivity']=analysis.sentiment.subjectivity
    pred_info['global_sentiment_polarity']=analysis.sentiment.polarity
    pred_info['global_rate_positive_words']=rates(article.text)[0]
    pred_info['global_rate_negative_words']=rates(article.text)[1]
    pred_info['avg_positive_polarity']=rates(article.text)[2]
    pred_info['min_positive_polarity']=rates(article.text)[3]
    pred_info['max_positive_polarity']=rates(article.text)[4]
    pred_info['avg_negative_polarity']=rates(article.text)[5]
    pred_info['min_negative_polarity']=rates(article.text)[6]
    pred_info['max_negative_polarity']=rates(article.text)[7]    
    pred_info['title_subjectivity']=title_analysis.sentiment.subjectivity
    pred_info['title_sentiment_polarity']=title_analysis.sentiment.polarity
    df_news.append(pred_info)

In [28]:
df2=pd.DataFrame(df_news)
df2.head()

,text,n_Tokens_Title,n_Tokens_Content,n_Unique_Tokens,n_Non_Stop_Words,n_Non_Stop_Unique_Tokens,num_hrefs,num_imgs,num_videos,Average_Token_Length,...,global_rate_positive_words,global_rate_negative_words,avg_positive_polarity,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity
0,Himachal Pradesh Chief Minister Jai Ram Thakur...,8,248,0.512097,0.612903,0.399194,296,13,0,4.887097,...,0.045,0.06,0.313016,0.1,0.50,-0.170833,-0.4,-0.125,0.000000,0.000000
1,"Doctors around the world, trying to save serio...",13,566,0.471731,0.648410,0.372792,198,30,0,4.754417,...,0.420,0.35,0.341177,0.1,0.75,-0.298684,-0.5,-0.100,0.650000,-0.200000
2,When we asked readers what they want to know a...,10,1042,0.465451,0.642035,0.400192,199,30,0,4.393474,...,0.990,0.93,0.337692,0.1,1.00,-0.238333,-0.5,-0.050,0.333333,0.166667
3,China’s top scientists said the novel coronavi...,12,443,0.559819,0.647856,0.458239,199,30,0,4.713318,...,2.090,1.78,0.320100,0.1,1.00,-0.240266,-0.5,-0.050,0.333333,0.000000
4,"Right now, there is no cure for the coronaviru...",11,1291,0.399690,0.603408,0.342370,199,30,0,4.341596,...,2.680,2.29,0.354538,0.1,1.00,-0.281001,-0.8,-0.050,0.000000,0.000000

In [30]:
col=df2.drop(['text'],axis=1)
x_predict=col.values

In [31]:
tab2=pd.DataFrame(model.predict(x_predict),df2['text'])
tab.reset_index(level=0, inplace=True)
tab2 = tab.rename(index=str, columns={"index": "News", 0: "Virality"})
tab2

      News Expected   Estimated
0        0   [1200]   2222.6825
1        1   [4900]   2798.4150
2        2   [3100]   2958.1450
3        3   [2500]   2671.5900
4        4   [1600]   2522.1000
...    ...      ...         ...
9906  9906   [3200]   4206.4350
9907  9907   [1900]   2110.1600
9908  9908   [1600]  12219.0750
9909  9909   [3500]   2989.0050
9910  9910    [740]   1232.6750

[9911 rows x 3 columns]